@import "../../../../sass/abstracts.scss";

.home-left {
  background-color: $color-primary;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  justify-content: flex-end;

  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    opacity: 1;

    .home-hero {
      width: 30rem;
      height: 30rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: white;
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      }

      &:hover {
        &::before {
          opacity: 0;
          transform: scale(0);
        }
      }
    }
  }

  &__name {
    span {
      font-size: 3.2rem;
      font-weight: 700;
      color: $color-primary;
      letter-spacing: 1px;
      color: white;
    }

    p {
      font-size: 2rem;
      font-weight: 400;
      color: $color-primary;
      letter-spacing: 2px;
      color: white;
    }
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-primary;
    letter-spacing: 1px;
    opacity: 1;
    line-height: 1;
    margin-top: 1rem;
    color: white;
  }
}


@media only screen and (max-width: 848px) {
  .home-left {
    padding: 3rem;
  }
}
