@import "../../../../sass/abstracts.scss";

.home-left {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  justify-content: flex-end;

  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    opacity: 0.9;

    .home-hero {
      width: 30rem;
      height: 30rem;
    }
  }

  &__name {
    span {
      font-size: 3.2rem;
      font-weight: 700;
      color: $color-primary;
      letter-spacing: 1px;
    }

    p {
      font-size: 2rem;
      font-weight: 400;
      color: $color-primary;
      letter-spacing: 2px;
    }
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-primary;
    letter-spacing: 1px;
    opacity: 1;
    line-height: 1;
    margin-top: 1rem;
  }
}


@media only screen and (max-width: 848px) {
  .home-left {
    padding: 3rem;
  }
}
