*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.028rem;
  cursor: none;
}

html {
  font-size: 62.5% !important; // 1rem = 10px
}

body {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}
