{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "eol-last": [2, "always"],
    "react/destructuring-assignment": [0],
    "react/jsx-equals-spacing": [2, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": "off",
    "react/jsx-indent": [2, 2],
    "arrow-parens": [2, "always"],
    "react/jsx-max-props-per-line": [1, { "when": "always" }],
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "jsx-quotes": [2, "prefer-double"],
    "indent": [2, 2],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "never"],
    // "space-before-function-paren": ["error", {
    //     "anonymous": "always",
    //     "named": "always",
    //     "asyncArrow": "always"
    // }],
    // "space-unary-ops": [2, {"words": true, "nonwords": false}],
    // "spaced-comment": ["error", "always", {
    //   "line": {
    //     "markers": ["/"],
    //     "exceptions": ["-", "+"]
    //   },
    //   "block": {
    //     "markers": ["!"],
    //     "exceptions": ["*"],
    //     "balanced": true
    //   }
    // }]
  }
}
