@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
$font-family: "DM Sans", sans-serif;

// COLORS
$color-white: hsla(230, 7%, 100%, 1);
$color-white-op-60: hsla(230, 7%, 100%, 0.6);
$color-white-op-50: rgba(255, 255, 255, 0.5);
$color-white-op-20: hsla(230, 7%, 100%, 0.2);
$color-white-op-10: hsla(230, 7%, 100%, 0.1);

$color-black: #222222;
$color-black-op-80: rgba(34, 34, 34, 0.8);
$color-black-op-50: rgba(34, 34, 34, 0.5);

$color-primary: hsla(230, 84%, 63%, 1);
$color-primary-op-50: hsla(230, 84%, 63%, 0.5);
$color-secondary: hsla(230, 10%, 30%, 1);

$color-grey: #36393f;
$color-grey-dark: hsla(230, 11%, 19%, 1);
$color-grey-light: #717171;

$btn-focus-shadow: 0 0 0 1px $color-grey-light, 0 0 0 3px $color-white-op-50;
$inpt-focus-shadow: 0 0 0 1px $color-grey-light, 0 0 0 3px $color-white-op-50;

// Border radius
$border-radius: 3px;

// Font sizes
$font-size-sm: 0.85rem;
$font-size-med: 1.2rem;
$font-size-med-2: 1.4rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 5rem;

// Breakpoints for media queries
$bp-small: 28em;
$bp-med: 47em;
$bp-large: 60em;
$bp-xl: 70em;

// soft colors
$bg-color: #e4f1fa;
$font-color: #355e6b;
$light-color: #fbfcfe;
$shadow-color: #bcd4e8;
