@import '../../sass/abstracts.scss';

.highlights {
  flex: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__name {
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 15rem;
    opacity: 0.4;
    font-weight: 800;

    &:hover {
      content: 'Projects';
    }
  }

  &__cards-container {
    margin-left: 5rem;
  }
}


@media (max-width: $bp-xl) {
  .highlights {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      margin-top: 1rem;
      margin-left: 0;
      padding: 1rem;
      text-align: left;
      font-size: $font-size-xxl;

      &:hover {
        content: 'Projects';
      }
    }

    &__cards-container {
      margin-left: 0;
    }
  }
}
