@import "../../sass/abstracts.scss";

.home-hero {
  width: 60rem;
  height: 60rem;
  overflow: hidden;
  border-radius: 50%;
  transition: filter 0.2s ease-out;
  will-change: filter;

  @keyframes blackNWhite {
    0% {
      fill: $color-grey-dark;
    }

    50% {
      fill: $shadow-color;
    }

    100% {
      fill: $color-grey-dark;
    }
  }

  #bg,
  #hill,
  #branch,
  #branch-2,
  #branch-3,
  #branch-4 {
    will-change: fill;
    animation: blackNWhite 40s ease-in-out infinite;
  }

  #stars-2 {
    will-change: transform;
    animation: spin 30s ease-in-out infinite;
    mix-blend-mode: overlay;
    transform-origin: bottom center;
  }

  #stars-3 {
    will-change: transform;
    animation: spin 38s ease-in-out infinite;
    mix-blend-mode: overlay;
    transform-origin: bottom center;
  }

  #stars-4 {
    will-change: transform;
    animation: spin 46s ease-in-out infinite;
    mix-blend-mode: overlay;
    transform-origin: bottom center;
  }

  #circ-1,
  #circ-2,
  #circ-3,
  #circ-4,
  #circ-5 {
    will-change: transform, opacity;
    transform-origin: center;
    -webkit-animation: breathing 6s ease-out infinite normal;
    animation: breathing 6s ease-out infinite normal;
  }
}

@media only screen and (max-width: 768px) {
  .home-hero {
    width: 80vw;
    height: 80vw;
  }
}
