@import "../../sass/abstracts.scss";

.home-hero {
  width: 70rem;
  height: 70rem;
  overflow: hidden;
  border-radius: 50%;

  @keyframes blackNWhite {
    0% {
      fill: $color-grey-dark;
    }

    50% {
      fill: $bg-color;
    }

    100% {
      fill: $color-grey-dark;
    }
  }

  #bg,
  #hill,
  #branch,
  #branch-2,
  #branch-3,
  #branch-4 {
    animation: blackNWhite 30s ease-in-out infinite;
  }

  #stars {
    animation: spin 30s ease-in-out infinite;
    mix-blend-mode: overlay;
    transform-origin: bottom center;
  }

  #circ-1,
  #circ-2,
  #circ-3,
  #circ-4,
  #circ-5 {
    transform-origin: center;
    -webkit-animation: breathing 6s ease-out infinite normal;
    animation: breathing 6s ease-out infinite normal;
  }
}
