@import '../../sass/abstracts.scss';

.navbar {
  display: flex;

  &__nav {
    display: flex;
    justify-content: space-between;

    &__a {
      text-decoration: none;
    }

    .btn {
      margin-right: 2rem;
      width: 6rem;
      font-size: 2rem;
    }
  }
}
