@import "../../sass/abstracts.scss";

.error {
  @include colFlexCenter;

  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: transparent;
  transition: all 0.3s ease-out;

  &__code {
    font-size: 20rem;
    font-weight: 800;
    color: $color-primary-op-50;
    letter-spacing: 0.032rem;
  }
}
