@import "../../sass/abstracts.scss";

.cursor {
  z-index: 1000;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $color-primary;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  will-change: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;

  $border-gap: -0.8rem;

  &::after {
    content: "";
    position: absolute;
    top: $border-gap;
    left: $border-gap;
    right: $border-gap;
    bottom: $border-gap;
    border-radius: 50%;
    border: $color-primary-op-50 0.2rem solid;
    transition: all 0.1s ease-out;

    will-change: top, left, right, bottom;
    transition-property: top, left, right, bottom;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
  }

  &--down {
    $border-gap: -0.4rem;
    background-color: $color-primary-op-50;

    &::after {
      top: $border-gap;
      left: $border-gap;
      right: $border-gap;
      bottom: $border-gap;
      border: $color-primary 0.2rem solid;
    }
  }
}
