@import '../../sass/abstracts.scss';

.hero {
  @include rowFlex;
  @include smoothBorderCorner;

  position: relative;
  font-size: $font-size-xl;
  width: 100vw;
  height: 100vh;
  color: $color-white;
  overflow: hidden;
  background: linear-gradient(to right, rgba(20, 250, 230, 0.3) 0%, rgba(230, 84%, 63%, 0) 100%);

  &__bg {
    @include colFlexCenter;
    width: 30rem;
    margin-right: 5rem;

    &__img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      object-fit: cover;

      box-shadow: 0 0 20px 0 $color-black-op-80;
    }
  }

  &__content {
    flex: 1;
    position: relative;
    height: 100%;

    &__nav {
      position: absolute;
      bottom: 2rem;
      margin-left: 5rem;
    }
  }
}

@media (max-width: $bp-large) {
  .hero {
    color: $color-black;
  }
}
