@import "../../sass/abstracts.scss";

.hero {
  @include rowFlex;
  @include smoothBorderCorner;

  position: relative;
  font-size: $font-size-xl;
  width: 100vw;
  height: 100vh;
  color: $font-color;
  background: $bg-color;
  overflow: hidden;

  &__bg {
    @include colFlexCenter;
    width: 30rem;
    margin-right: 5rem;

    &__img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 5px 0 $color-black-op-80;
    }
  }

  &__content {
    flex: 1;
    position: relative;
    height: 100%;

    &__nav {
      position: absolute;
      bottom: 2rem;
      margin-left: 5rem;
    }
  }
}

@media (max-width: $bp-xl) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: auto;

    &__content {
      width: 100%;
      position: relative;
    }

    &__bg {
      width: 20rem;
      margin-right: 0;
      margin-top: 2rem;
    }
  }
}
