@import "../../sass/abstracts.scss";

.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: $font-color;
  background: $bg-color;
  overflow: hidden;

  &__content {
    flex: 1;
    position: relative;
    height: 100%;

    &__nav {
      position: absolute;
      bottom: 2rem;
      margin-left: 5rem;
    }
  }
}
