@import "../../sass/abstracts.scss";

.home-page {
  flex: 1;
  height: calc(100vh - 20rem);
  position: relative;

  &__content {
    height: 100%;
    padding: 0 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 5.2rem;
    letter-spacing: 0.82rem;
    font-weight: 500;
    line-height: 1.7;
  }
}

@media only screen and (max-width: 1080px) {
  .home-page {
    &__content {
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-page {
    .bottom-nav {
      position: absolute;
      top: calc(50% - 25vh);
      right: 0;
      height: 50vh;
      flex-direction: column;
      width: unset;
    }
  }
}
