@import "../../sass/abstracts.scss";

.about-me {
  font-size: 2rem;
  color: $color-grey-dark;
  max-width: 40rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  padding: 3rem;
  text-align: center;
  line-height: 1.66667;
  -webkit-font-smoothing: antialiased;
}
