@import "../../sass/abstracts.scss";

.about-me {
  width: 40rem;
  height: 12rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  p {
    -webkit-font-smoothing: antialiased;
    font-size: 1.8rem;
    color: $color-grey-dark;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-align: center;
    line-height: 1.66667;
    position: absolute;
    left: 4rem;
    width: 80%;
    top: 2rem;
  }
}
